body
{
    background-color:#ff6a00;
}

h1 {
    color: #00ff21;
    font-size:xx-large;
    text-transform:uppercase;

}
h2 {
    color: #fffbfb;
    text-transform: uppercase;
}

p {
    color: #dcc0c0;
    font-size: large;
}